<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobagent.mapper.JobMapper">
    <select id="pageQuery" resultType="com.jobagent.entity.Job">
        SELECT j.*, c.* FROM job j, company c
        <where>
            <!-- 关键词搜索（标题或描述） -->
            <if test="jobPageDTO.keyword != null and jobPageDTO.keyword != ''">
                AND (j.title LIKE CONCAT('%', #{jobPageDTO.keyword}, '%') OR j.description LIKE CONCAT('%', #{jobPageDTO.keyword}, '%'))
            </if>

            <!-- 多选List字段 -->
            <if test="jobPageDTO.city != null and jobPageDTO.city != ''">
                AND j.city IN
                <foreach collection="jobPageDTO.getCityList()" item="exp" open="(" separator="," close=")">
                    #{exp}
                </foreach>
            </if>
            <if test="jobPageDTO.title != null and jobPageDTO.title != ''">
                AND j.title IN
                <foreach collection="jobPageDTO.getTitleList()" item="exp" open="(" separator="," close=")">
                    #{exp}
                </foreach>
            </if>
            <if test="jobPageDTO.salary != null and jobPageDTO.salary != ''">
                AND j.salary IN
                <foreach collection="jobPageDTO.getSalaryList()" item="exp" open="(" separator="," close=")">
                    #{exp}
                </foreach>
            </if>
            <if test="jobPageDTO.experience != null and jobPageDTO.experience != ''">
                AND j.experience IN
                <foreach collection="jobPageDTO.getExperienceList()" item="exp" open="(" separator="," close=")">
                    #{exp}
                </foreach>
            </if>

            <if test="jobPageDTO.degree != null and jobPageDTO.degree != ''">
                AND j.degree IN
                <foreach collection="jobPageDTO.getDegreeList()" item="deg" open="(" separator="," close=")">
                    #{deg}
                </foreach>
            </if>

            <if test="jobPageDTO.industry != null and jobPageDTO.industry != ''">
                AND j.industry IN
                <foreach collection="jobPageDTO.getIndustryList()" item="ind" open="(" separator="," close=")">
                    #{ind}
                </foreach>
            </if>

            <!-- 多选字段（来自 company 表） -->
            <if test="jobPageDTO.scale != null and jobPageDTO.scale != ''">
                AND c.scale IN
                <foreach collection="jobPageDTO.getScaleList()" item="sca" open="(" separator="," close=")">
                    #{sca}
                </foreach>
            </if>
            <if test="jobPageDTO.stage != null and jobPageDTO.stage != ''">
                AND c.stage IN
                <foreach collection="jobPageDTO.getStageList()" item="sta" open="(" separator="," close=")">
                    #{sta}
                </foreach>
            </if>

            AND j.companyId = c.id
        </where>
    </select>
</mapper>