<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobagent.mapper.RuleMapper">
    <insert id="saveRule" parameterType="com.jobagent.dto.RuleSaveDTO">
        INSERT INTO user_rule
        (rule_name, rule_description, user_id, keyword, city, degree, industry, title, experience, scale, stage, limit_num)
        VALUES
            (#{ruleSaveDTO.ruleName}, #{ruleSaveDTO.ruleDescription}, #{ruleSaveDTO.userId}, #{ruleSaveDTO.keyword},
             #{ruleSaveDTO.city}, #{ruleSaveDTO.degree}, #{ruleSaveDTO.industry}, #{ruleSaveDTO.title},
             #{ruleSaveDTO.experience}, #{ruleSaveDTO.scale}, #{ruleSaveDTO.stage}, #{ruleSaveDTO.limitNum})
    </insert>
</mapper>